body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.formulaire {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}
.form {
  border: 2px solid transparent;
  padding: 60px 60px;
  border-radius: 8px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.1);
}